<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>782598065339-3v597m99quemh8bim5lp5n3vs36l6g1h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.782598065339-3v597m99quemh8bim5lp5n3vs36l6g1h</string>
	<key>API_KEY</key>
	<string>AIzaSyDE-EoMKcmDUDxv60jFcevclbjKYVB5M1U</string>
	<key>GCM_SENDER_ID</key>
	<string>782598065339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.nativescript.dsc</string>
	<key>PROJECT_ID</key>
	<string>dance-studio-costumes</string>
	<key>STORAGE_BUCKET</key>
	<string>dance-studio-costumes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:782598065339:ios:e9465204005deb2a58ed9e</string>
	<key>DATABASE_URL</key>
	<string>https://dance-studio-costumes.firebaseio.com</string>
</dict>
</plist>